@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #475569;
}

.check {
  border: 1px solid red;
}
.check2 {
  border: 1px solid rgb(0, 255, 17);
}

.border-bottom {
  border-bottom: 1px solid #d9d9d9;
}
.border-bottom-filename {
  border-bottom: 2px solid #334053;
}
.border-bottom-filename-select {
  border-bottom: 2px solid #75c5ec;
}
.border-right {
  border-right: 1px solid #d9d9d9;
}
.nav-bg {
  background-color: rgba(255, 255, 255, 0.527);
  backdrop-filter: blur(5px);
}

.icon-border {
  border: 2px solid #f1f1f2;
}
.btn-border {
  border: 1px solid #d6d6d6;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.file-name-input {
  font-size: 12px;
  width: 50px;
  background-color: transparent;
}
.file-name-input:focus {
  outline: none;
  border: none;
}
